body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    display: flex;
}

img {}

.color {
    color: #F39C12;
}

.top-header {
    width: 50%;
}

.faltu {
    margin-top: 10%;
    margin-left: 5%;

}

.faltu h1 {
    font-size: 50px;
    color: #4a4f50;
}

.top-header p {
    color: #a0a3a3;
    font-size: 20px;
    line-height: 25px;
    margin-top: -20px;


}

.top-header img {
    width: 480px;
    margin-top: 10%;
    margin-left: 5%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#F39C12, #D35400);
    padding: 5px 15px;
    border-radius: 5px;
}

.mid-sec {
    width: 50%;
}

.mid-sec img {
    width: 300px;
    margin-left: 30%;
    margin-top: 5%;
}

.faltu2 {
    margin-top: 10%;
}

.faltu2 h1 {
    font-size: 30px;
    color: #686969;
}

.faltu2 p {
    text-align: justify;
    padding-right: 20%;
    color: #9b9c9c;
}

.top-ban {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
}

.sec-third {
    text-align: center;
}

.sec-third h1 {
    font-size: 30px;
    color: #737575;
    font-weight: bolder;
}

.sec-third p {
    margin: 0% 27%;
    color: #656666;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 220px;
    height: 350px;
    margin: 5%;
    padding: 10px;
    border-radius: 10px;
}

.card-imge {
    background-color: #a0a3a3;
    height: 180px;
    background-size: cover;

}

.food-1 {
    background-image: url('./images/food/Project\ Cover.jpg');
    border-radius: 8px;
}

.food-2 {
    background-image: url('./images/food/Project\ Cover.png');
    border-radius: 8px;
}

.food-3 {
    background-image: url('./images/food/Project\ Cover1.jpg');
    border-radius: 8px;
}

.card h1 {
    font-size: larger;
}

.card p {
    color: #3f3f3f;
    font-size: small;
    text-align: justify;
}

.list-item {
    display: flex;
    justify-content: center;
    margin-left: 13%;
    margin-right: 13%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.price-item {
    margin: 5%;
    width: 150px;
    height: 100px;
    margin-top: -10px;
}

.price-item p {
    font-size: small;
    line-height: 5%;
}

.price-item h1 {
    font-weight: 900;
    font-size: xx-large;
}

.last-one {
    justify-content: center;
    text-align: center;
    background-color: #080b11;
    height: 200px;
    width: 100%;
    padding-top: 20px;
    margin-top: 40px;
}

.comolo {
    color: #F39C12;
}

.last-one h1 {
    color: #686969;
}

.last-one p {
    color: rgb(147, 157, 165);
    line-height: 5%;
}